body {
    margin: auto;
    background-color: #cff1ef;
}

.top-container {
    display: flex;
    flex-direction: row;

    margin: auto;
    width: 50%;
    max-width: 700px;

    height: 70px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    background: #E6E8E6;

    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
    .top-container {
        width: 95%;
        height: 100px;
        max-width: none;
    }
}

.logo-box {
    flex: 1;
    height: 100%;

    display: flex;
    align-items: center;

}

.logo-box img {
    height: 70%;
    margin-left: 20px;

}

.options-box {
    flex: 1;
    height: 100%;
    margin-right: 20px;
}

.icon-box {
    height: 100%;
    margin-top: 10px;
}

.icon-box img {
    display: inline;
    height: 70%;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-left: 10px;
}